{extends layout.latte}

{block title}Vypis osob{/block}

{block body}
<form>
    <input type="text" name="filtr"
           placeholder="Zadej hledanou osobu">
    <input type="submit" value="Hledej">
    </form>

<table>
    {foreach $osoby as $os}
        <tr>
        {$os['first_name']}
        {$os['last_name']}
        <br>
        </tr>
        {/foreach}
</table>
        {/block}